@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0F172A;
}

::-webkit-scrollbar-thumb {
  background: #22343B; 
  border-radius: 10px;
}

body{
    @apply bg-blueGray-800;
}

.btn-tech-hover{
    @apply  transform hover:scale-110 transition duration-75 ease-out
    mx-auto my-4
    ;
}

.titles{
  @apply font-titles;
}

.bodyIcon{
  @apply inline-block mr-2;
}